.match.circle {
	
	.chart {
		width: 100%;
		height: 100%;
	}
	
	&.with-timeline svg {
		height:100%;
	}

	svg {
		.team path {
			fill:none;
			stroke-width:3;
			shape-rendering: optimizeSpeed;
			stroke-linecap: round;
		}
		text.team-name {
			@include fs-header(1);
			font-size:15px;
			text-anchor:start;
			font-weight: bold;
		}

		.events {

			.evt {
				
				&.hidden {
					opacity:0.2;
				}

				line {
					visibility: hidden;
					fill:none;
					stroke:#ddd;
					stroke-width:1;
					shape-rendering: optimizeSpeed;
					stroke-dasharray: 1,5;
					stroke-linecap:round;
				}

			}

		}
		.lead-circle {
			g.arc {
				path {
					
					//stroke:#000;
					stroke-width:3;
					shape-rendering: optimizeSpeed;
					stroke-linecap:butt;
					fill-opacity:0.25;
				}
				path.bg {
					stroke:none;
				}
				&.tie {
					path {
						stroke:#ddd;
						fill:none;
					}
					path.bg {
						stroke:none;
					}
				}
			}
		}
		.axes {
			circle {
				fill:none;
				stroke-width:1;
				stroke:#ddd;
			}
			path {
				fill:none;
				stroke-width:1;
				stroke:#ddd;
			}
			line {
				fill:none;
				stroke:#ddd;
				stroke-width:1;
				shape-rendering: optimizeSpeed;
			}
			text {
				fill:#ddd;
				text-anchor:middle;

				&.m-0 {
					text-anchor:end;
					font-weight: bold;
				}
				&.m-40 {
					text-anchor:end;
				}
				&.m-60 {
					text-anchor:end;
				}

				&.score {
					text-anchor: start;
				}
			}
		}
	}
	&.small {
		
	
		.teams {
			.team {
				path {
					stroke-width:2;
				}
				text.team-name {
					font-size:13px;
				}
			}
		}

		.events {

			.evt {
				visibility: hidden;
				&.hidden {
					opacity:0.2;
				}

				line {
					fill:none;
					stroke:#ddd;
					stroke-width:1;
					stroke-opacity:0.5;

				}

			}

		}
		.lead-circle {
			g.arc {
				path {
					stroke-width:2;
				}
			}
		}
	}
}