$SC:#00087C;
$AU:#F7AD32;
$NZ:#000000;
$FR:#2B4BC7;
$SA:#007733;//#063D1E;
$AR:#27B2E8;
$IE:#006843;
$WA:#930000;//#D90037;
$JP:#EF001D;
$US:#001442;
$NA:#000F79;
$CA:#FF0017;
$TO:#F50C2B;
$GE:#090909;
$UR:#4994E1;
$EN:#ED2738;
$FJ:#696969;
$IT:#008CC9;
$WS:#0043A2;
$RO:#FFD041;

$countries-list: SC, AU, NZ, FR, SA, AR, IE, WA, JP, US, NA, CA, TO, GE, UR, EN, FJ, IT, WS, RO;
$colors-list: $SC, $AU, $NZ, $FR, $SA, $AR, $IE, $WA, $JP, $US, $NA, $CA, $TO, $GE, $UR, $EN, $FJ, $IT, $WS, $RO;
@each $current-color in $colors-list {
    $i: index($colors-list, $current-color);
    g.#{nth($countries-list, $i)} {
    	path {
    		stroke: $current-color;	
    	}
        path.bg {
            stroke: none;
            fill:  $current-color !important;
            fill-opacity:0.5;
        }
        circle {
        	fill: $current-color;
        }
        text.team-name {
        	fill: $current-color;	
        }
        g.status {
            line {
                stroke: $current-color;
            }  
        }
    }

    g.arc.#{nth($countries-list, $i)} {
        path {
            stroke: $current-color;
            fill:none;
        }
        path.bg {
            fill: $current-color;
        }
    }
    g.status {
            circle.#{nth($countries-list, $i)} {
                fill: $current-color;
            }
    }
    
    .match {
        h4 {
            span.#{nth($countries-list, $i)} {
                color: $current-color;    
            }
            
        }
    }
    .tooltip {
        .#{nth($countries-list, $i)} {
            color: $current-color;    
        }
    }
}