//ICONS
.penalty-icon,
.conversion-icon,
.drop-goal,
.missed-drop-goal-icon {
	fill:none;
	stroke:#fff;//#aaa;
	stroke-width:1;
	//stroke-linecap:square;
	
}
.missed-drop-goal-icon {
	stroke:#000;
}
.yellow-card-icon {
	fill:#ffd041;
	stroke:#333;
	stroke-width:1;
	shape-rendering: crispEdges;
}
.red-card-icon {
	fill:#ff1c58;
	stroke:#333;
	stroke-width:1;
	shape-rendering: crispEdges;
}
.try-icon {
		fill:#fff;
		stroke:none;
}
.sub-icon {
	fill:none;
	stroke:#333;
	stroke-width:1;
	
}