body {
	@include fs-bodyCopy(1);
}
.section {
	position: relative;
    overflow: hidden;
    border-top: 1px solid #ddd;
	
    &:first-child {
        border-top:none;
    }

	@include mq(tablet) {
		&.no-border {
            border-top:none;
        }
	}

    > div {
    	float:left;
    }

    .intro {
        @include mq(tablet) {
            display: none;
        }
        //padding-top:15px;
		h2 {
			font-size:20px;
            margin-bottom:0px;
		}

    	
		@include mq(tablet) {
			width:25%;

			.pool-intro {
				height:300px;
			}
		}


    }
    .contents {
    	@include mq(tablet) {
			width:100%;
		}
    }

    table.table-pool {
    	@include fs-textSans(1);
    	width:100%;
        @include mq(tablet) {
            width:90%;
        }
    	th:first-child{
    		text-align:left;
    	}
    	th {
    		color:#000;
    	}
    	th:last-child {
    		color:#000;
    	}
    	td {
    		text-align: center;
    	}
    	td:first-child {
    		text-align:left;
    		font-weight: bold;
    	}
    	td:last-child {
    		font-weight: bold;
    	}
    	tr:nth-child(odd) {
    		td {
    			color:#767676;
    		}
    	}
    }
}