#rwc {
	
	min-height:1px;
	overflow:hidden;
	
	h1,h2,h3,h4,h5,h6 {
		font-family: $f-serif-text;
	}
	.matches {
		overflow: hidden;
		box-sizing: border-box;
		* {
			box-sizing: border-box;
		}
		h4 {
            @include fs-headline(1);
            font-size:16px; 
            margin-bottom:0px;
            margin-top:30px;
            b {
                @include fs-header(1);
                font-size: inherit;
            }
        }
        
        p {
            margin-top:5px;
        }
	}
	.pools {
		overflow: hidden;
		.contents {
			@include mq(tablet) {
				//padding-top:50px;
			}
		}
		.pool {
			width:100%;
			padding:10px 0 0;
			margin-bottom:60px;
			
			&:first-child {
				border-left:none;
			}

			.matches {
				overflow: hidden;
				.match {
					margin:10px 0;
					width: 20%;
					float: left;
				}	
			}
			
		}
	}
	/*
	.pools {
		overflow: hidden;
		.pool {
			float:left;
			width:calc(25% - 41px);
			margin:0 10px;
			padding:0 10px;
			border-left:1px solid #ddd;
			
			&:first-child {
				border-left:none;
			}

			.matches {
				overflow: hidden;
				.match {
					margin-top:20px;
					width: 50%;
					float: left;
				}	
			}
			
		}
	}
	*/

	.quarter-finals {
		overflow: hidden;
		.matches {
			.match {
				@include mq(tablet) {
					width:calc(50% - 20px);
					//height:220px;
					margin:0px 10px 30px;
					float:left;
				}
			}
		}
	}
	.semi-finals {
		overflow: hidden;
		.matches {
			.match {
				width:calc(50% - 10px);
				margin:0 5px;
				//height:250px;
				float:left;
			}
		}
	}
	.final {
		.matches {
			.match {
				width:90%;
				//height:300px;
				margin:0 auto;
			}
		}
	}

	&.circle {
		.pools {
			.intro {
				display: block;
			}
			.contents {
				@include mq(tablet) {
					width: 75%;
				}
			}
			.pool {
				.matches {
					overflow: hidden;
					.match {
						width: 50%;
						@include mq(tablet) {
							width: 200px;
						}
						//height: 200px;
						float: left;
					}	
				}
			}
		}
		.quarter-finals {
			overflow: hidden;
			.matches {
				.match {
					width:100%;
					@include mq(tablet) {
						width:25%;
						padding:0;
						margin:0;
						//height:300px;
						float:left;

						svg {
							width:calc(100% - 30px);
							margin-left:15px;
						}

						p {
							padding-right:15px;
						}
					}
				}
			}
		}
		.semi-finals {
			overflow: hidden;
			.matches {
				margin:0 auto;
				width:100%;
				.match {
					width:100%;
					@include mq(tablet) {
						width:calc(50% - 20px);
						float:left;
						text-align: center;

						svg {
							width:70%;
							margin:0 auto;
						}
					}
					
					
					.match-blurb {
						@include mq(tablet) {
							width:50%;
						}
						margin:0 auto;
						text-align: left;
					}
				}

			}
		}
		.final {
			.matches {
				.match {
					width:100%;
					@include mq(tablet) {
						width:500px;
						//height:500px;
						margin:0 auto;
						svg {
							width: 500px;
							
						}
					}
					//height:500px;
					
				}
			}
		}
	}
}