.match {
	.timeline {
		width:100%;
		height:$timeline_height;

		svg {
			width:100%;
			height:100%;

			
			g.team-timeline {

				text.team-name {
					text-anchor:end;
				}
				line.time {
					fill:none;
					stroke:#ccc;
					stroke-width:1;
					shape-rendering: crispEdges;
				}
			}
			
			
		}

	}
}